transformers
accelerate
sentencepiece
protobuf
urllib3
urllib3-secure-extra
qdrant-client
fastapi
uvicorn[standard]
python-multipart
ollama
langchain
langchain-community
langchain-core
langchain-ollama